<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="app.companyFullName">馥裕国际事业股份有限公司</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">

    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">


    <link rel="stylesheet" href="~/Content/style.css?v="2>


</head>
<body>
    <div class="bg-top navbar-light">
        <div class="container">
            <div class="row no-gutters d-flex align-items-center align-items-stretch">
                <img src="~/img/Logo.jpg" />
                <div class="col-md-4 d-flex align-items-center py-4">
                    <a href='@Url.Action("Index","Home")' class="navbar-brand" data-i18n="app.companyFullName">馥裕国际事业股份有限公司</a>
                </div>

            </div>

        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href='@Url.Action("Index","Home")' class="nav-link pl-0" data-i18n="app.home">首页</a></li>
                    <li class="nav-item"><a href='@Url.Action("Foreword","Home")' class="nav-link pl-0" data-i18n="app.foreword">前言</a></li>
                    <li class="nav-item"><a href='@Url.Action("ChairmanMessage","Home")' class="nav-link pl-0" data-i18n="app.chairmanMessage">董事长的话</a></li>
                    <li class="nav-item"><a href='@Url.Action("About","Home")' class="nav-link pl-0" data-i18n="app.aboutFuyu">关于馥裕</a></li>
                    <li class="nav-item"><a href='@Url.Action("Video","Home")' class="nav-link pl-0" data-i18n="app.activityVideo">活动影片</a></li>
                </ul>

            </div>
            <div class="btn-group" data-toggle="buttons">
                <label id="simplified" class="btn btn-primary" data-i18n="app.simplified" onclick="LanguageTransfer('zh-cn')">
                    简体
                </label>
                <label id="traditional" class="btn btn-primary" data-i18n="app.traditional" onclick="LanguageTransfer('zh-TW')">
                    繁体
                </label>
                <label id="english" class="btn btn-primary" data-i18n="app.English" onclick="LanguageTransfer('en')">
                    英文
                </label>
            </div>
        </div>

    </nav>

    <div class="container body-content">
        @RenderBody()<br />
        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-12 col-lg-12">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-1" data-i18n="app.contactUs">连络我们</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text" data-i18n="app.companyAddr1">公司地址:台北市中山区林森北路452号9楼之8</span></li>
                                    <li><span class="icon icon-phone"></span><span class="text" data-i18n="app.contactTel1">联络电话:02-25210101</span></a></li>
                                    <li><span class="icon icon-envelope"></span><span class="text">fuyuMarketingTsai@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/Scripts/i18next-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script language="javascript">
        var _langSetName = 'myLanguageSet';
        var _lang = $.cookie(_langSetName);
        $(document).ready(function () {
            if (_lang == null || _lang.trim() == '') {
                _lang = 'zh-cn'; //預設簡体
                $.cookie(_langSetName, _lang, { path: '/Home', expires: 30 });  //儲存cookie語系
                // SetCookie(_langSetName, _lang, 30);
            }
            if (_lang != null) {
                i18n.init({
                    resGetPath: '/locales/translation.__lng__.json',
                    lng: _lang,
                    fallbackLng: _lang
                },
                    function (t) {
                        $("body").i18n();
                        SetLangBtn(_lang); //設定語系按鈕
                    });
            }
           

        });
        function LanguageTransfer(lang) {
            _lang = lang;

            i18n.init({
                resGetPath: '/locales/translation.__lng__.json',
                lng: _lang,
                fallbackLng: _lang
            },
                function (t) {
                    $("body").i18n();
                    if (_lang != null) {
                        $.cookie(_langSetName, null);
                    }
                    $.cookie(_langSetName, _lang, { path: '/Home', expires: 30 });  //儲存cookie語系 SetCookie(_langSetName, _lang, 30); //儲存cookie語系
                    SetLangBtn(_lang); //設定語系按鈕
                });
        }


        function SetLangBtn(lang) {
            if (lang == 'zh-cn') {
                $('#simplified').addClass('active');
                $('#traditional').removeClass('active');
                $('#english').removeClass('active');
            }
            else if (lang == 'zh-TW') {
                $('#simplified').removeClass('active');
                $('#traditional').addClass('active');
                $('#english').removeClass('active');
            }
            else {
                $('#simplified').removeClass('active');
                $('#traditional').removeClass('active');
                $('#english').addClass('active');
                
            }
        }
    </script>
</body>
</html>
