<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>馥裕國際事業股份有限公司</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">

    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="bg-top navbar-light">
        <div class="container">
            <div class="row no-gutters d-flex align-items-center align-items-stretch">
                <img src="~/img/Logo.jpg" />
                <div class="col-md-4 d-flex align-items-center py-4">
                    @Html.ActionLink("馥裕國際事業股份有限公司", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>

            </div>

        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("首頁", "Index", "Home", null, new { @class = "nav-link pl-0" })</li>
                    <li class="nav-item">@Html.ActionLink("前言", "Foreword", "Home", null, new { @class = "nav-link pl-0" })</li>
                    <li class="nav-item">@Html.ActionLink("董事長的話", "ChairmanMessage", "Home", null, new { @class = "nav-link pl-0" })</li>
                    <li class="nav-item">@Html.ActionLink("關於馥裕", "About", "Home", null, new { @class = "nav-link pl-0" })</li>
                    <li class="nav-item">@Html.ActionLink("活動影片", "Video", "Home", null, new { @class = "nav-link pl-0" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()<br/>
        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2">連絡我們</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text">公司地址:台北市中山區林森北路452號9樓之8</span></li>
                                    <li><span class="icon icon-phone"></span><span class="text">聯絡電話:02-25210101</span></a></li>
                                    <li><span class="icon icon-envelope"></span><span class="text">fuyuMarketingTsai@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5 ml-md-4">
                            <h2 class="ftco-heading-2">連結</h2>
                            <ul class="list-unstyled">
                                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                                <li>@Html.ActionLink("前言", "Foreword", "Home")</li>
                                <li>@Html.ActionLink("董事長的話", "ChairmanMessage", "Home")</li>
                                <li>@Html.ActionLink("關於馥裕", "About", "Home")</li>
                                <li>@Html.ActionLink("活動影片", "Video", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
